{% extends 'base.html.twig' %}
{% block title %}Dónde estamos{% endblock %}
{% block body %}

	<main>
		<div class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3171.4279951422086!2d-6.055672485058803!3d37.35604857983788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126d2764004c61%3A0x4dc0ecbba5fdbb75!2sCalle+Juventud%2C+14%2C+41927+Mairena+del+Aljarafe%2C+Sevilla!5e0!3m2!1ses!2ses!4v1525016125974" allowfullscreen></iframe></div>
	</main>

{% endblock %}