{% extends 'base.html.twig' %}
{% block title %}Sobre nosotros{% endblock %}
{% block body %}

			<main>
				<div class="video"><iframe src="https://www.youtube.com/embed/6THZMVLl_oQ" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
			</main>
		</div>

	</body>

</html>


{% endblock %}